html{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color:rgba(220, 220, 220, 0.863);
}

/*Header*/

header{
    background-color: white;
    top:0;
    width: 100%;
    display: inline-flexbox;
    padding: 10px 0 25px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav{
    display: inline-flexbox;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}

nav a{
    font-size: 1.2rem;
    color: black;
    font-style: normal;
    padding: 0 10px 25px 10px;
}

header h1{
    font-size: 3.2rem;
    margin-bottom: 15px;
    margin-top: 20px;
}


/*Main Content*/

.welcomeimg {
    width: auto;
    height: 500px; 
    padding-top: 50px;
}

main{
    display: flexbox;
    flex-wrap: wrap;
}

img{
    height: 200px;
    width: auto; 
}

main h2{
    font-size: 2.5rem;
    padding:0;
}

main p{
    margin: 5px;
    font-size: 1.4rem;
    line-height: 2.2rem;
}

/*Story*/
.story{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 4fr;
    background-color: white;
    margin: 50px;
    padding: 30px 50px 50px 50px;
}

.story h2{
    grid-area: 1/1/span 1/ span 2;
    margin: 0;
}

.story p{
    align-self: center;
    padding: 0px 30px 10px 30px;
    grid-area: 2/1/span 1/ span 1;
}

.story img{
    width: 100%;
    height: auto;
    grid-area: 2/2/span 1/ span 1;
}

/*Ingredients*/

.ingredients{
    display: flexbox;
    background-color: white;
    margin: 50px;
    padding: 30px 50px 50px 50px;
}

.ingredients h2{
    margin: 0 0 40px 0;
}

.ingredients p{
    align-self: center;
    justify-self: center;
    padding: 0 20px;
}

.img-container{
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: baseline;
    width: 100%;
    flex-shrink: 1;
}

.img-container figure{
    min-width: 100px;
    max-width: 300px;
    height: auto;
    flex-shrink: 1;
    flex-grow: 1;
}

.ingredients figcaption{
    font-size: 1.2rem;
    margin-top: 5px;
    flex-shrink: 1;
}

/*products*/
.products{
    display: flexbox;
    background-color: white;
    margin: 50px;
    padding: 50px;
}

.products h2{
    margin: 0 20px 30px 20px;
    text-align: center;

}

.products p{
    align-self: center;
    padding: 0px 30px 10px 30px;
    grid-area: 2/2/span 1/ span 1;
}

/*Stores*/
.stores {
    background-color: white;
    align-items: center;
    justify-content: start;
    margin: 0px 50px 50px 50px;
    padding: 0 50px 50px 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 6fr;
}
.stores h2{
    margin: 0;
    padding:0;
    grid-area: 1/1/span 1/ span 2;
}

.stores img{
    grid-area: 2/1/span 1/ span 2;
    width: 100%;
    height: auto;
    opacity: 0.85;
}

.adr_container{
    grid-area: 2/1/span 1/ span 2;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 100%;
    z-index: 1;
    flex-wrap: wrap;
    
}
.adress {
    background-color: white;
    flex-basis: 230px;
    height: 280px;
    padding: 10px 0;
    margin: 20px 0;
    min-width: 200px;
    overflow: hidden;
    border: 2px solid gray;
}
.adress h3{
    padding-bottom:10px;
    margin:25px 0 20px 0;
    font-size: 1.5rem;
}
.adress p{
    padding:5px;
    font-size: 1.3rem;
}

@media only screen and (max-width: 770px)  {
.stores img{
        visibility: hidden;
    }
}